<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="baidu-site-verification" content="code-bLrF3sJh2o" />
    <title>{{ title }}</title>
    <link href="/static/css/common.bundle.css" rel="stylesheet">
    {% block headercss %}
    {% endblock %}
</head>

<body>
    {% block header %}
    <!-- 头部代码 start -->
    <div class="o-head">
        <div class="o-head-inn">
          <a href="" class="o-logo"><img src="static/img/logo_b.png" alt="logo" height="50"></a>
          <div class="o-nav">
            {% for item in nav %}
            <a href="{{item.link}}" {%if item.name === active %} class="o-active" {%endif %}>{{ item.text }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    <!-- 头部代码 end -->
    {% endblock %}
    {% block content %}
    {% endblock %}

    {% block footer %}
    <div class="o-footer">
        <div class="o-mod-inn footer-beian">
            <p class="copyright">©2021 <a href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2021011758号
                </a>
            </p>
        </div>
    </div>
    {% endblock %}
    {% block footercommjs %}
    <script src="/static/js/jquery183.js"></script>
    <!-- 图片轮播 -->
    <script src="/static/js/common.bundle.js"></script>
    {% endblock %}
    {% block footerjs %}
    <script src="/static/js/index.bundle.js"></script>
    {% endblock %}
</body>

</html>