{% extends "base.html" %}
{% block headercss %}
<link href="/static/css/index.bundle.css" rel="stylesheet">
<link href="/static/css/detail.bundle.css" rel="stylesheet">
<link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="o-carousel" style="background:#1e327a;color: #fff;height: 230px;">
  <ul class="banner-list">
    <li class="banner_tip">
      <p class="font30">一家年轻且充满活力的公司</p>
      <p class="font20">在追求卓越品质与服务质量的过程中，也实现了自我从0到1的升级</p>
      <p class="font20">处于高速发展阶段</p>
      <p class="flow_img"><img src="static/img/img_aboutsp.png"></p>
    </li>
  </ul>
</div>
<div class="o-detail-wrap">
  <div class="o-mod-inn">
    <h1 class="o-title">招聘信息</h1>
    <div class="o-detain-main">
      <p>1、招聘人数3人:相关岗位地质部1人、矿山开发部1人、矿 山环境治理部1人</p>
      <p>2、工薪待遇:基本工资3500元/月，野外补助110元/天，报告补助详谈。</p>
      <p>3、岗位要求:公司目前处于高速发展阶段，加入公司即主力，也是公司培养的重点对象，2~3年后可独当一面，也将成为相关部门经理，年薪突破10万元，公司需要个人综合能力强，专业素质硬，稳定、踏实的专业人才，如果你是一个充满梦想且敢于为自己梦想奋斗的年轻人，河北冀勘是你开启梦想的路!</p>
    </div>
  </div>
  <div class="o-mod-inn">
    <h1 class="o-title">公司福利</h1>
    <div class="o-detain-main">
      <p>社会保险、出差报销、公司包住、带薪休假、用餐补助、交通补 助、节日礼品、年底奖金等。</p>
    </div>
  </div>

  <div class="o-mod-inn">
    <h1 class="o-title">联系方式</h1>
    <div class="o-detain-main">
      <p>联系人:马经理;电话 15076013511(即微信) 公司邮箱:hbjk111@126.com</p>
    </div>
  </div>
</div>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>河北冀勘工程技术服务有限公司</title>
  <link href="/static/css/common.bundle.css" rel="stylesheet">
  <link href="/static/css/detail.bundle.css" rel="stylesheet">
  <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
</head>

<body>
  <!-- 头部代码 start -->
  <div class="o-head">
    <div class="o-head-inn">
      <a href="" class="o-logo"><img src="static/img/logo_b.png" alt="logo" height="50"></a>
      <div class="o-nav">
        <a href="/" class="o-active">首页</a>
        <a href="/effect?page=tech">技术服务</a>
        <a href="/effect?page=about">关于我们</a>
        <a href="/effect?page=join">人才招聘</a>
      </div>
    </div>
  </div>
  <!-- 头部代码 end -->

  <!-- 轮播 -->
  <div class="o-carousel" style="background:#1e327a;color: #fff;height: 230px;">
    <ul class="banner-list">
      <li class="banner_tip">
        <p class="font30">一家年轻且充满活力的公司</p>
        <p class="font20">在追求卓越品质与服务质量的过程中，也实现了自我从0到1的升级</p>
        <p class="font20">处于高速发展阶段</p>
        <p class="flow_img"><img src="static/img/img_aboutsp.png"></p>
      </li>
    </ul>
  </div>
  <div class="o-detail-wrap">
    <div class="o-mod-inn">
      <h1 class="o-title">招聘信息</h1>
      <div class="o-detain-main">
        <p>1、招聘人数3人:相关岗位地质部1人、矿山开发部1人、矿 山环境治理部1人</p>
        <p>2、工薪待遇:基本工资3500元/月，野外补助110元/天，报告补助详谈。</p>
        <p>3、岗位要求:公司目前处于高速发展阶段，加入公司即主力，也是公司培养的重点对象，2~3年后可独当一面，也将成为相关部门经理，年薪突破10万元，公司需要个人综合能力强，专业素质硬，稳定、踏实的专业人才，如果你是一个充满梦想且敢于为自己梦想奋斗的年轻人，河北冀勘是你开启梦想的路!</p>
      </div>
    </div>
    <div class="o-mod-inn">
      <h1 class="o-title">公司福利</h1>
      <div class="o-detain-main">
        <p>社会保险、出差报销、公司包住、带薪休假、用餐补助、交通补 助、节日礼品、年底奖金等。</p>
      </div>
    </div>

    <div class="o-mod-inn">
      <h1 class="o-title">联系方式</h1>
      <div class="o-detain-main">
        <p>联系人:马经理;电话 15076013511(即微信) 公司邮箱:hbjk111@126.com</p>
      </div>
    </div>
  </div>

  <div class="o-footer">
    <div class="o-mod-inn o-footer-main" class="clearfix">
      <div class="o-qrcode">
        <span>
          <img src="static/img/weixin.jpeg" alt="">
          <i>扫码联系</i>
        </span>
      </div>
      <ul class="clearfix">
        <li>
          <h3>联系我们</h3>
          <span>
            <em><b>Email：</b>hbjk111@126.com</em>
            <em><b>公司地址：</b>河北省秦皇岛市海港区文博城五栋二单元3101室</em>
          </span>
        </li>
        <li>
          <h3>服务热线</h3>
          <span>
            <em><i class="font_blue font30">15076013511(即微信)</i></em>
            <em><i>售前咨询（9：00-18：00）</i></em>
          </span>
        </li>
      </ul>

    </div>
    <div class="o-mod-inn footer-beian">
      <p class="copyright">©2020 <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备080s4号</a> <a
          target="_blank"
          href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000022">京公网安备110007788722号</a></p>
    </div>
  </div>
  <script src="https://s.ssl.qhimg.com/lib/jquery/183.js"></script>
  <!-- 播放器地址 https://videojs.com/getting-started -->
  <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
  <script src="/static/js/common.bundle.js"></script>
  <script src="/static/js/detail.bundle.js"></script>
</body>

</html>