#banners {
  width: 100%;
  height: 450px;
  min-width: 1200px;
  text-align: center;
  background-image: linear-gradient(to right, #1d99de, #0ca2ee);
 }
  #banners .banner-list > li a {
    width: 100%;
    height: 450px; }

@media screen and (max-device-width: 420px) {
  #banners {
    min-width: auto !important;
    height: 200px; }
    #banners .banner-list > li a {
      height: 200px; }
    #banners .slider-btn {
      display: block; } }

@charset "UTF-8";
/* 首页列表样式1 */
.index-list-style1 a {
  display: inline-block;
  width: 255px;
  height: 182px;
  background-color: #f7f7f7;
  padding: 20px;
  vertical-align: top; }
  .index-list-style1 a .o-list-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .index-list-style1 a h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
    font-weight: normal; }
  .index-list-style1 a .o-list-desc {
    font-size: 13px;
    color: #aaa; }
  .index-list-style1 a:hover {
    background-color: #f0f0f0; }
    .index-list-style1 a:hover h3 {
      color: #000; }
    .index-list-style1 a:hover .o-list-desc {
      color: #555; }

.index-list-style2 a {
  display: inline-block;
  width: 200px;
  height: 230px;
  /* background-color:#f5f5f5; */
  padding: 20px;
  vertical-align: top;
  margin: 0 20px;
  opacity: .9; }
  .index-list-style2 a .o-list-img {
    display: inline-block;
    width: 155px;
    height: 155px;
    background: #000;
    margin-bottom: 5px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .index-list-style2 a h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
    font-weight: normal; }
  .index-list-style2 a .o-list-desc {
    font-size: 13px;
    color: #aaa; }
  .index-list-style2 a:hover h3 {
    color: #000; }
  .index-list-style2 a:hover .o-list-desc {
    color: #555; }

.index-list-style3 a {
  display: inline-block;
  width: 315px;
  height: 440px;
  vertical-align: top;
  margin: 0 20px;
  padding: 0;
  opacity: .9; }
  .index-list-style3 a .o-list-img {
    display: inline-block;
    width: 315px;
    height: 315px;
    background: #000;
    margin-bottom: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .index-list-style3 a h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: normal; }
  .index-list-style3 a .o-list-desc {
    font-size: 13px;
    color: #fff;
    padding: 0 30px;
    line-height: 1.8; }
  .index-list-style3 a:hover {
    opacity: 1; }

.index-list-style4 {
  font-size: 0; }
  .index-list-style4 a {
    display: inline-block;
    width: 183px;
    height: 183px;
    vertical-align: top;
    margin: 8px;
    padding: 0;
    opacity: .95;
    overflow: hidden;
    position: relative; }
    .index-list-style4 a .o-list-img {
      display: inline-block;
      width: 183px;
      height: 183px;
      background: #fff;
      margin-bottom: 15px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
    .index-list-style4 a h3 {
      font-size: 16px;
      margin-bottom: 10px;
      color: rgba(255, 255, 255, 0);
      font-weight: normal;
      position: absolute;
      width: 183px;
      top: 60px;
      transition: all ease-in .2s;
      z-index: 3; }
    .index-list-style4 a .o-list-desc {
      font-size: 13px;
      color: #fff;
      padding: 0 30px;
      line-height: 1.8; }
    .index-list-style4 a:after {
      content: '';
      position: absolute;
      width: 183px;
      height: 183px;
      left: 0;
      top: 0;
      background: rgba(225, 177, 0, 0);
      transition: all ease-in .2s; }
    .index-list-style4 a:hover {
      opacity: 1; }
      .index-list-style4 a:hover:after {
        background: rgba(225, 177, 0, 0.9); }
      .index-list-style4 a:hover h3 {
        color: white;
        top: 50px; }

@media screen and (max-device-width: 420px) {
  .o-mod-inn {
    width: auto;
    padding: 0 10px; }
  .index-list-style1 li {
    width: 45%;
    margin-bottom: 5px; }
    .index-list-style1 li a {
      width: auto;
      margin: 0;
      padding: 0;
      padding: 15px 8px; }
  .index-list-style2 li {
    width: 45%;
    margin-bottom: 5px; }
    .index-list-style2 li a {
      width: auto;
      margin: 0;
      padding: 0;
      padding: 8px 5px; }
    .index-list-style2 li .o-list-img {
      width: 145px;
      height: 145px; }
  .index-list-style3 a {
    width: 215px;
    height: 340px; }
    .index-list-style3 a .o-list-img {
      width: 215px;
      height: 215px; }
  .o-mod-wrap .o-mod-list li {
    margin-bottom: 30px; }
  .index-list-style4 a {
    width: 100px;
    height: 100px; }
    .index-list-style4 a:after,
    .index-list-style4 a .o-list-img {
      width: 100px;
      height: 100px; } }

