<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>河北冀勘工程技术服务有限公司</title>
  <link href="/static/css/common.bundle.css" rel="stylesheet">
  <link href="/static/css/detail.bundle.css" rel="stylesheet">
  <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

</head>

<body>
   <!-- 头部代码 start -->
   <div class="o-head">
    <div class="o-head-inn">
      <a href="" class="o-logo"><img src="static/img/logo_b.png" alt="logo" height="50"></a>
      <div class="o-nav">
        <a href="/" class="o-active">首页</a>
        <a href="/effect?page=tech">技术服务</a>
        <a href="/effect?page=about">关于我们</a>
        <a href="/effect?page=join">人才招聘</a>
      </div>
    </div>
  </div>
  <!-- 头部代码 end -->

  <!-- 轮播 -->
  <div class="o-carousel" style="background:#1e327a;color: #fff;height: 230px;">
    <ul class="banner-list">
      <li class="banner_tip">
        <p class="font30">一家年轻且充满活力的公司</p>
        <p class="font20">在追求卓越品质与服务质量的过程中，也实现了自我从0到1的升级</p>
        <p class="font20">处于高速发展阶段</p>
        <p class="flow_img"><img src="static/img/img_aboutsp.png"></p>
      </li>
    </ul>
  </div>
  <div class="o-detail-wrap">
    <div class="o-mod-inn">
      <div class="o-detain-main">
        <img src="static/img/abstracttitle.png">
        <p>
          河北冀勘工程技术有限公司成立于2019年，公司地点位于河北省秦皇岛市海港区，公司主要业务为地质勘查、矿产开发设计、矿山恢复治理、工程勘查、评价绿色矿山等，公司自成立以来受到业内客户一致好评，随着公司业务面的扩展和客户需求的增加，公司不断扩大，目前处于高速发展阶段，2021年春节以来，虽然社会各界受到新冠疫情的影响，但公司4月份单月合同额仍突破300万，是一家年轻且充满活力的公司
        </p>
        <div class="be_line"></div>
        <div class="title_dis_center"><img src="static/img/abstract_s3tit.png"></div>
        <ul class="flex-container">
          <li>
            <div><img src="static/img/abstract_s3img1.png"/></div>
            <h1>快速稳定</h1>
            <p class="font10">天下武功唯快不破，打造互联网速度</p>
          </li>
          <li>
            <div><img src="static/img/abstract_s3img2.png"/></div>
            <h1>极致响应</h1>
            <p class="font10">极致的思维、产品、服务，您本就应该坐享其成</p>
          </li>
          <li>
            <div><img src="static/img/abstract_s3img2.png"/></div>
            <h1>谦卑为怀</h1>
            <p class="font10">对事待人常有谦卑之心，只为脱颖而出</p>
          </li>
        </ul>
        <div class="be_line"></div>
        <div class="title_dis_center"><img src="static/img/abstract_s5tit.png"/></div>
        <img src="static/img/com.png">
        <div class="be_line"></div>
        <div>
          <h1 class="title_dis_center font30 font_blue">公司福利</h1>
          <p class="flex-container">
          <span class="text_box">社会保险</span>
          <span class="text_box">公司包住</span>
          <span class="text_box">带薪休假</span>
          <span class="text_box">交通补助</span>
          <span class="text_box">节日礼品</span>
          <span class="text_box">年底奖金</span>
        </p>
      </div>
    </div>
  </div>

  <div class="o-footer">
    <div class="o-mod-inn o-footer-main" class="clearfix">
      <div class="o-qrcode">
        <span>
          <img src="static/img/weixin.jpeg" alt="">
          <i>扫码联系</i>
        </span>
      </div>
      <ul class="clearfix">
        <li>
          <h3>联系我们</h3>
          <span>
            <em><b>Email：</b>hbjk111@126.com</em>
            <em><b>公司地址：</b>河北省秦皇岛市海港区文博城五栋二单元3101室</em>
          </span>
        </li>
        <li>
          <h3>服务热线</h3>
          <span>
            <em><i class="font_blue font30">15076013511(即微信)</i></em>
            <em><i>售前咨询（9：00-18：00）</i></em>
          </span>
        </li>
      </ul>

    </div>
    <div class="o-mod-inn footer-beian">
      <p class="copyright">©2020 <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备080s4号</a> <a
          target="_blank"
          href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000022">京公网安备110007788722号</a></p>
    </div>
  </div>
  <script src="https://s.ssl.qhimg.com/lib/jquery/183.js"></script>
  <!-- 播放器地址 https://videojs.com/getting-started -->
  <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
  <script src="/static/js/common.bundle.js"></script>
  <script src="/static/js/detail.bundle.js"></script>
</body>

</html>