<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>河北冀勘工程技术服务有限公司</title>
  <link href="/static/css/common.bundle.css" rel="stylesheet">
  <link href="/static/css/index.bundle.css" rel="stylesheet">
</head>

<body>
 <!-- 头部代码 start -->
 <div class="o-head">
  <div class="o-head-inn">
    <a href="" class="o-logo"><img src="static/img/logo_b.png" alt="logo" height="50"></a>
    <div class="o-nav">
      <a href="/" class="o-active">首页</a>
      <a href="/effect?page=tech">技术服务</a>
      <a href="/effect?page=about">关于我们</a>
      <a href="/effect?page=join">人才招聘</a>
    </div>
  </div>
</div>
<!-- 头部代码 end -->

  <!-- 轮播 -->
  <div class="o-carousel" style="background:#000">
    <!-- <div class="o-mod-inn" id="banners"> -->
      <div class="o-carousel-inn" id="banners">
      <ul class="banner-list">
        <li class="current"><a href="" target="_blank"><img src="static/img/lunbo.png"></a>
            </a>
        </li>
      </ul>
      <div class="slider-pager"><a class="page" href="##page-1" data-page="0">1</a><a class="page" href="##page-2"
          data-page="1">2</a><a class="page" href="##page-3" data-page="2">3</a></div><a
        class="slider-btn slider-btn-prev" href="##prev" data-action="prev"></a><a href="##next"
        class="slider-btn slider-btn-next" data-action="next"></a>
    </div>
  </div>
  <div class="o-mod-wrap index-list-style1">
    <div class="o-mod-inn">
      <h2>我们的技术服务<i style="background-color:#B89820;"></i></h2>
      <p class="o-mod-desc">按国家现行相关标准、规范、文件及行规进行及时、准确、客观、公正的技术服务</p>
      <div class="o-mod-list">
        <ul>
          <!-- <li>
            <a href="">
              <span class="o-list-img" style="background-image: url(https://desk-fd.zol-img.com.cn/g5/M00/02/01/ChMkJ1bKxQyIbxe2AAij1kfvva4AALHQAJ2A3sACKPu901.jpg);"></span>
              <h3>质检技术服务</h3>
              <p class="o-list-desc">探矿权预查、普查、详查、矿权评估业务</p>
            </a>
          </li> -->
          <!-- <li>
            <a href="">
              <span class="o-list-img" style="background-image: url(https://desk-fd.zol-img.com.cn/g5/M00/02/01/ChMkJ1bKxQyIbxe2AAij1kfvva4AALHQAJ2A3sACKPu901.jpg);"></span>
              <h3>测绘服务</h3>
              <p class="o-list-desc">专注提供地形测绘、规划测量、变形监测等服务</p>
            </a>
          </li> -->
          <li>
            <a href="">
              <span class="o-list-img"><img src="static/img/dz.png"></span>
              <h3>地质勘察技术服务</h3>
              <p class="o-list-desc">现场勘探、井下调研、现场地质监督</p>
            </a>
          </li>
          <li>
            <a href="">
              <span class="o-list-img"><img src="static/img/kc.png"></span>
              <h3>矿产开采咨询服务</h3>
              <p class="o-list-desc">矿山地质环境保护与土地复垦方案</p>
            </a>
          </li>
          <li>
            <a href="">
              <span class="o-list-img"><img src="static/img/zz.png"></span>
              <h3>备案证办理服务</h3>
              <p class="o-list-desc"></p>
            </a>
          </li>
          <li>
            <a href="">
              <span class="o-list-img"><img src="static/img/hs.png"></span>
              <h3>报告编写服务</h3>
              <p class="o-list-desc">立项申请报告、可行性研究报告、安全与评价、初步设计、安全设施设计</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="o-mod-wrap index-list-style2" style="background-color: #f5f5f5;">
    <div class="o-mod-inn">
      <h2>行业案例<i style="background-color:#B89820;"></i></h2>
      <p class="o-mod-desc"></p>
      <div class="o-mod-list">
        <ul>
          <li>
            <a href="">
              <span class="o-list-img" style="background-image: url(https://desk-fd.zol-img.com.cn/g5/M00/02/01/ChMkJ1bKxQyIbxe2AAij1kfvva4AALHQAJ2A3sACKPu901.jpg);"></span>
              <h3>官网服务</h3>
              <p class="o-list-desc">全方位互联网服务，助力打造线上品牌，线上线下一同起航</p>
            </a>
          </li>
          <li>
            <a href="">
              <span class="o-list-img" style="background-image: url(https://desk-fd.zol-img.com.cn/g5/M00/02/01/ChMkJ1bKxQyIbxe2AAij1kfvva4AALHQAJ2A3sACKPu901.jpg);"></span>
              <h3>官网服务</h3>
              <p class="o-list-desc">全方位互联网服务，助力打造线上品牌</p>
            </a>
          </li>
          <li>
            <a href="">
              <span class="o-list-img" style="background-image: url(https://desk-fd.zol-img.com.cn/g5/M00/02/01/ChMkJ1bKxQyIbxe2AAij1kfvva4AALHQAJ2A3sACKPu901.jpg);"></span>
              <h3>官网服务</h3>
              <p class="o-list-desc">全方位互联网服务，助力打造线上品牌</p>
            </a>
          </li>
          <li>
            <a href="">
              <span class="o-list-img" style="background-image: url(https://desk-fd.zol-img.com.cn/g5/M00/02/01/ChMkJ1bKxQyIbxe2AAij1kfvva4AALHQAJ2A3sACKPu901.jpg);"></span>
              <h3>官网服务</h3>
              <p class="o-list-desc">全方位互联网服务，助力打造线上品牌</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->



  <div class="o-footer">
    <div class="o-mod-inn o-footer-main" class="clearfix">
      <div class="o-qrcode">
        <span>
          <img src="static/img/weixin.jpeg" alt="">
          <i>扫码联系</i>
        </span>
      </div>
      <ul class="clearfix">
        <li>
          <h3>联系我们</h3>
          <span>
            <em><b>Email：</b>hbjk111@126.com</em>
            <em><b>公司地址：</b>河北省秦皇岛市海港区文博城五栋二单元3101室</em>
          </span>
        </li>
        <li>
          <h3>服务热线</h3>
          <span>
            <em><i class="font_blue font30">15076013511(即微信)</i></em>
            <em><i>售前咨询（9：00-18：00）</i></em>
          </span>
        </li>
      </ul>

    </div>
    <div class="o-mod-inn footer-beian">
      <p class="copyright">©2020 <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备080s4号</a> <a
          target="_blank"
          href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000022">京公网安备110007788722号</a></p>
    </div>
  </div>
  <script src="https://s.ssl.qhimg.com/lib/jquery/183.js"></script>
  <!-- 图片轮播 -->
  <script src="https://s2.ssl.qhres.com/static/10b8f91eb700e59b.js"></script>

  <script src="/static/js/common.bundle.js"></script>
  <script src="/static/js/index.bundle.js"></script>
</body>

</html>